body{
    background-color:#006266 ;
    color: #FFFFFF;
    font-size: 115%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height:auto;
    width: auto;
    text-align: center;
}
h1{
    color:aliceblue;
    background-color:#FFC312 ;
    margin: auto;
    padding: auto;
    text-align: center;
}
nav{
    background-color: #EA2027;
    margin:3px;
    padding:2px;
}
section{
    background-color: antiquewhite;
    color: black;
    margin:auto;
    padding: 3px;
}
footer{
    color:aliceblue;
    background-color:#009432 ;
    margin: auto;
    padding: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
iframe{
    align-content: center;
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color: red;
}
.form{
    margin: 10px;
    padding: 8px;
    background-color: limegreen;
    color: white;
    font-size: 110%;
}